.card-text{
    font-family: Roboto;
    background: rgba(204, 204, 204, 0.30);
    padding-top: 76px;
    padding-bottom: 52px;
    .text-content{
        margin: 62px 0 62px 50px;
    }
    p{
        max-width: 530px;
        font-size: 36px;
        font-weight: 400;
        color: #000;
        line-height: normal;
        margin-top: 31px;
        margin-bottom: 40px;
    }
}

.card-text2{
    font-family: Roboto;
    text-align: right;
    background: rgba(204, 204, 204, 0.60);
    padding-top: 76px;
    padding-bottom: 52px;
    .text-content{
        margin: 62px 0px 62px auto;
    }
    p{
        font-family: Roboto;
        max-width: 511px;
        font-size: 36px;
        font-weight: 400;
        color: #000;
        line-height: normal;
        margin-top: 31px;
        margin-bottom: 40px;
    }
    img{
        margin-right: 0;
        margin-left: 50px;
    }
}