.main-menu{
    position: relative;
    height: 56px;
    font-family: Roboto;
    padding: 15px 0;
    background: transparent;
    .container{
        height: 100%;
        position: relative;
    }
    .nav-menu-bar{
        display: inline-block;
    }
    @media (max-width: 767px){
        .nav-menu-bar{
            position: fixed;
            transition: all 0.2s ease-in;
            transform: translateX(-300%);
            left: 0;
            height: 45%;
            width: 200px;
            background: #FFF;
            z-index: 98;
        }
    }
    a.menu-nav{
        font-size: 16px;
        font-weight: 700;
        color: #1C1B1B;
    }
    a.menu-nav + a.menu-nav {
        margin-left: 28px;
    }
    @media (max-width:767px){
        a.menu-nav + a.menu-nav {
            margin-top: 20px;
            margin-left: 0;
            display: block;
        }
    }
    a.menu-nav:hover{
        text-decoration: none;
        opacity: 0.8;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 25px;
    }
    @media (max-width: 991px){
        .logo{
            left: 0;
            transform: none;
        }
        .menu-nav_1{
            margin-left: 80px;
        }
    }
    @media (max-width:767px){
        .logo{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .inst, .lupa, .close{
        position: absolute;
    }
    .inst{
        padding-top: 3px;
        right: 95px;
    }
    .lupa{
        margin-top: -7px;
        right: 42px;
    }
    .close{
        height: 39px;
        margin-top: -7px;
        opacity: 1;
        right: 0;
    }
    .close:hover, .lupa:hover .inst:hover{
        opacity: 1;
    }
    // mobile-nav
    .nav-brgr{
        z-index: 99;
    }
    .mobile-nav-btn{
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        position: absolute;
        left: 5%;
    }
    .mobile-nav-btn span{
        transition: all 0.2s ease-in;
        position: auto;
        height: 4px;
        width: 24px;
        background: #000;
        margin-top: 3px;
        display: none;
    }
    @media (max-width:767px){
        .mobile-nav-btn span{
            display: block;
        }
    }
    .mobile-close-btn span {
        display: block;
        transition: all 0.2s ease-in;
        height: 4px;
        width: 24px;
        background: #000;
    }
    .mobile-close-btn{
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        position: absolute;
        left: 5%;
        #line-first{
            rotate: -50deg;
            position: absolute;
        }
        #line-second{
            display: none;
        }
        #line-third{
            rotate: 50deg;
            position: absolute;
        }
    }
}